$background-color: #67754b;

body {
	background: $background-color;
}

footer.sticky {
	background: none;
}


#page .container {
	background: #fff;
}

.puffar img {
	width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li.current_page_parent>a {
	color: #000;
}
.navbar-default {
	background-color: #d2d6c9;
	border-bottom: 1px solid #2c390f;
	box-shadow: none;
}

.navbar-default .navbar-brand {
	color: #000;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#page .container {
		background: #fff url(../images/logo.jpg) no-repeat;
		background-size: contain;
		padding-top: 100px;
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#page .container {
		padding-top: 140px;
	}

	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#page .container {
		padding-top: 210px;
	}
	
}