/* Bootstrap mods -------------------------------------------------- */




/* Responsive images and video */
/* For responsive YouTube - wrap embed code in div.video-container */
img {
	max-width:100%;
	height:auto;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe,.video-container object,.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Hide adminbar on mobile devices */
#wpadminbar {
	display:none;
}

/* Wordpress image alignment in content */
img.alignleft {
	float:left;
	margin-right:15px;
}

img.alignright {
	float:right;
	margin-left:15px;
}

img.aligncenter {
	display: block;
	margin:15px auto;
}


/* Page layout */
body {
	background:#eee;
}

.navbar {
	box-shadow:0 2px 4px #999;
}
.dropdown-menu>li>a .glyphicon {
	top: 2px;
}
#page {
	padding:0 0 30px;
}

#page .container {
	background:#fff;
	box-shadow:0 1px 2px #999;
	padding:30px;
}

footer .container {
	padding:20px;
	color:#999;
	text-shadow:0 1px #fff;
	text-align:center;
}


img.page-wide {
	margin-bottom:20px;
}


/* Grids and lists */
.list-item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.list-item:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.grid-copy {
	height: 100px;
	overflow: hidden;
	margin-bottom: 20px;
}




/* Sticky footer  */
html {
	position:relative;
}

footer.sticky {
	position:absolute;
	width:100%;
	height:auto;
	bottom:0;
	background:#ddd;
}

/* Widget styling */
#sidebar ul,#footer ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

#footer .textwidget {
	text-align:center;
}

#sidebar {
	margin:30px 0;
}

.widget {
	margin-bottom:30px;
}


/* Calendar widget styling */
#wp-calendar {
	width:100%;
	font-size:11px;
}

#wp-calendar thead th {
	background:#f5f5f5;
	border:1px solid #ddd;
	border-top:none;
	font-size:11px;
}

#wp-calendar tbody td {
	text-align:center;
	border:1px solid #ddd;
	line-height:2.5em;
	transition:background .15s ease;
	-webkit-transition:background .15s ease;
	-o-transition:background .15s ease;
	-moz-transition:background .15s ease;
}

#wp-calendar tbody td:hover {
	background:#f1f1f1;
	color:#333;
}

#wp-calendar tbody td a {
	display:block;
	text-decoration:none;
	background:#f1f1f1;
	color:#333;
}

#wp-calendar tbody td:hover a {
	background:#4d4d4d;
	color:#fff;
}

#wp-calendar tfoot {
	background:#eee;
	border:1px solid #ddd;
}

#wp-calendar tfoot td {
	padding-top:1px;
	padding:4px;
}

#wp-calendar caption {
	cursor:pointer;
	font-size:13px;
	text-transform:uppercase;
	margin:0;
	padding:12px;
	outline:0 none!important;
	background:#3078ac;
	color:#fff;
}

#wp-calendar tbody a {
	display:block;
	text-decoration:underline;
}

#wp-calendar th {
	text-align:center;
	border:1px solid transparent;
	border-top:none;
	padding:7px 0;
	color:#a7a7a7;
}

#footer #wp-calendar thead th {
	background:#222;
}

#footer #wp-calendar tbody td {
	border-color:#222;
}

/* Tags and paging styling */
.tag-links a {
	display:inline;
	padding:.2em .6em .3em;
	font-size:75%;
	font-weight:700;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	border-radius:.25em;
	background-color:#999;
}

.tag-links a:hover {
	background-color:#666;
	text-decoration:none;
}

.page-numbers.current,.current_page_parent {
	background:#e7e7e7;
}

.navbar-default .navbar-nav>li.current_page_parent>a {
	color:#555;
}

/* Comments styling */

textarea#comment {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	min-height:200px;
}
#commentform input {
	width: 100%;
}
#commentform #submit {
	display:inline-block;
	width: auto;
	margin-bottom:0;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	white-space:nowrap;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	border-radius:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd;
}

#submit:hover {
	color:#fff;
	background-color:#3276b1;
	border-color:#285e8e;
}

ol.commentlist,ol.commentlist ul {
	list-style:none;
	margin-left:0;
	padding:10px;
}

.comment {
	margin-bottom:30px;
	border:1px solid #ccc;
	background:#fff;
}

.comment-meta {
	background:#eee;
	position:relative;
	border-bottom:1px solid #ccc;
}

.comment-metadata {
	display:none;
}

.comment-content,.reply {
	padding:10px;
}

.fn,.says {
	vertical-align:middle;
}

/* Menu styling */
.current-menu-ancestor {
	background:#e7e7e7;
}

/* Corousel styling */
.carousel-control.left,.carousel-control.right {
	background-image:none;
}


/* Responsive styles */


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body.admin-bar nav {
	/* Admin bar fix for bootstrap */
		top:32px;
	}
	
	#wpadminbar {
		display:block;
	}
	
	#page {
		padding:100px 0 30px;
	}
	
	.comment-metadata {
	/* Positioning of comments meta */
		display:block;
		position:absolute;
		right:10px;
		top:6px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}